header {
    @include tamanio(100%, 110vh);
    min-width: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imagenes/header-image.jpg);
    background-position: center;
    background-size: cover;

    #header-text {
        color: white;
        @include tamanio(100%, 100%);
        @include flex(column, center, center);

        div {
            @include tamanio(90%, 100%);
            @include flex(column, center, center);
            text-align: center;
            gap: 1rem;

            h1 {
                font-size: 5rem;
                font-family: 'Calistoga', cursive;
                text-transform: uppercase;
                animation: deIzquierdaADerecha 1.2s ease-in-out;
            }

            span {
                font-size: $tamanio-parrafos-span;
                animation: deArribaHaciaAbajo 1.5s ease-in;
            }

            a {
                text-decoration: none;
                font-size: 1.4rem;
                margin-top: 5rem;
                color: black;
                background-color: white;
                padding: 1.4rem 8rem;
                border-radius: 30px;
                animation: crecer 1.7s ease-in-out;
                transition: .5s all cubic-bezier(0.6, -0.28, 0.735, 0.045);

                &:hover {
                    color: white;
                    background-color: black;
                    border: 3px solid white;
                }
            }
        }
    }
}